// font-family: 'Jockey One', sans-serif;
$marg: 1.25rem;

@font-face {
    font-family: "Jockey One";
    src: url();
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("../font/Pretendard-Regular.woff2") format("woff2");
    src: url("../font/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 32px;
    font-family: "Pretendard-Regular";
    font-weight: 400;
}

:root {
    --white: #232323;
}

.title,
.contents {
    position: fixed;
    width: 100%;
    padding: 0 3.75rem;
}

.title {
    top: $marg;
    width: 17.5rem;
    display: flex;
    // flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

h1,
h2 {
    font-weight: 700;
}

h1 {
    line-height: 1.2;
    font-size: 9.75rem;
    font-family: "Jockey One";
    color: var(--white);
}

h2 {
    line-height: 0.6;
    font-size: 1.75rem;
    color: var(--white);
    margin-bottom: $marg;
}

.contents {
    bottom: 1.6rem;
}

.weeklyWeather {
    width: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    //컴포넌트로 지정
    .dailyWeather {
        background-color: var(--white);
        color: white;
        width: 2.5rem;
        height: 5rem;
        border-radius: 999rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    > div:first-child {
        width: 3rem;
        height: 6rem;
    }
}
